.title-detail {
  float: left !important;
  color: #c0392b;
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: -10px;
}

.content-detail {
  font-size: 14px;
  color: #666;
  font-weight: 600;
  width: 40%;
  display: inline-block;
  float: left;
}

.text-detail {
  width: 60%;
  display: inline-block;
  font-size: 14px;
  color: #666;
  word-wrap: break-word;
}

.modal-body {
  word-wrap: break-word;
}

.custom-title {
  width: 100%;
  border-bottom: 1px solid #dadada;
}

