<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">

                <div class="col-md-12 col-sm-12 text-right hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Product</a>

                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>List Product</h2>
                        <ul class="header-dropdown dropdown">
                            <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                            <!-- <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom spacing5">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Screen Size</th>
                                        <th>Weight</th>
                                        <th>Battery Capacity</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Screen Size</th>
                                        <th>Weight</th>
                                        <th>Battery Capacity</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <ng-container *ngIf="keyCategory==='phone'">
                                        <ng-container *ngFor="let product of listPhones; let i = index">
                                            <tr>
                                                <td>{{ i + 1 }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.price }}</td>
                                                <td>{{ product.quantity }}</td>
                                                <td>{{ product.screen_size }}</td>
                                                <td>{{ product.weight }}</td>
                                                <td>{{ product.battery_capacity }}</td>
                                                <td>
                                                    <span
                                                        style="cursor: pointer; color: #17a2b8; display: inline-block;width: 30%;"
                                                        data-toggle="modal"
                                                        [attr.data-target]="'#'+ keyBrand +product.id"><i
                                                            class="fas fa-2x fa-search"></i></span>
                                                    <span
                                                        style="cursor: pointer; color: #007bff;display: inline-block;width: 30%;"><i
                                                            class="fas fa-2x fa-edit"></i></span>
                                                    <span
                                                        style="cursor: pointer; color: #dc3545;display: inline-block;width: 30%;"><i
                                                            class="fas fa-2x fa-trash-alt"></i></span>
                                                </td>

                                                <!-- Modal -->
                                                <div class="modal fade" [attr.id]="keyBrand + product.id" tabindex="-1"
                                                    role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg"
                                                        style="max-width: 630px !important;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myModalLabel"
                                                                    style="float: left !important">
                                                                    Thông số kỹ thuật chi tiết {{ product.name }}
                                                                </h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img [attr.src]="product.url_details" width="100%"
                                                                    height="430" alt="">
                                                            </div>
                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Màn hình
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <!-- Screen details -->
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Công nghệ
                                                                        màn hình</span>
                                                                    <span
                                                                        class="text-detail">{{ product.screen_technology }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Độ phân
                                                                        giải</span>
                                                                    <span
                                                                        class="text-detail">{{ product.screen_resolution }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Màn hình
                                                                        rộng</span>
                                                                    <span
                                                                        class="text-detail">{{ product.screen_size }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Mặt kính
                                                                        cảm ứng</span>
                                                                    <span class="text-detail">
                                                                        {{ product.screen_touch }}</span>
                                                                </div>
                                                            </div>

                                                            <!--rear camera detail -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Camera sau
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Độ
                                                                        phân giải</span>
                                                                    <span class="text-detail">
                                                                        {{ product.rear_camera_resolution }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Quay
                                                                        phim</span>
                                                                    <span
                                                                        class="text-detail">{{ product.record_video}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Đèn
                                                                        Flash</span>
                                                                    <span
                                                                        class="text-detail">{{ product.flash_light }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Chụp
                                                                        ảnh nâng cao</span>
                                                                    <span class="text-detail">
                                                                        {{ product.rear_camera_advanced }}</span>
                                                                </div>
                                                            </div>


                                                            <!--front camera detail -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Camera trước
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Độ
                                                                        phân giải</span>
                                                                    <span class="text-detail">
                                                                        {{ product.front_camera_resolution }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Videocall</span>
                                                                    <span
                                                                        class="text-detail">{{ product.videocall}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Thông tin khác</span>
                                                                    <span
                                                                        class="text-detail">{{ product.camera_info_more }}</span>
                                                                </div>
                                                            </div>

                                                            <!--CPU detail -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Hệ điều hành - CPU
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Hệ điều hành</span>
                                                                    <span class="text-detail">
                                                                        {{ product.operating_system }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Chipset (hãng SX
                                                                        CPU)</span>
                                                                    <span
                                                                        class="text-detail">{{ product.chipset}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Tốc độ CPU</span>
                                                                    <span
                                                                        class="text-detail">{{ product.speed_cpu }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Chip đồ họa
                                                                        (GPU)</span>
                                                                    <span
                                                                        class="text-detail">{{ product.chip_graphic }}</span>
                                                                </div>
                                                            </div>

                                                            <!--Memory detail -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Bộ nhớ & Lưu trữ
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Ram</span>
                                                                    <span class="text-detail">
                                                                        {{ product.ram }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Bộ nhớ trong</span>
                                                                    <span
                                                                        class="text-detail">{{ product.internal_memory}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Bộ nhớ còn lại (khả
                                                                        dụng)</span>
                                                                    <span
                                                                        class="text-detail">{{ product.remaining_memory }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Thẻ nhớ ngoài</span>
                                                                    <span
                                                                        class="text-detail">{{ product.external_memory_card }}</span>
                                                                </div>
                                                            </div>



                                                            <!-- Connect details -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Kết nối
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Mạng di động</span>
                                                                    <span class="text-detail">
                                                                        {{ product.mobile_network }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Sim</span>
                                                                    <span class="text-detail">{{ product.sim}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Wifi</span>
                                                                    <span class="text-detail">{{ product.wifi }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">GPS</span>
                                                                    <span class="text-detail">{{ product.gps }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Bluetooth</span>
                                                                    <span
                                                                        class="text-detail">{{ product.bluetooth }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Cổng kết nối/sạc</span>
                                                                    <span
                                                                        class="text-detail">{{ product.charging_connector }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Jack tai nghe</span>
                                                                    <span
                                                                        class="text-detail">{{ product.jack_headphone }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Kết nối khác</span>
                                                                    <span
                                                                        class="text-detail">{{ product.more_connector }}</span>
                                                                </div>
                                                            </div>

                                                            <!-- Design and weight details -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Thiết kế & Trọng lượng
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Thiết kế</span>
                                                                    <span class="text-detail">
                                                                        {{ product.design }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Chất liệu</span>
                                                                    <span
                                                                        class="text-detail">{{ product.material}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Kích thước</span>
                                                                    <span class="text-detail">{{ product.size }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Trọng lượng</span>
                                                                    <span
                                                                        class="text-detail">{{ product.weight }}</span>
                                                                </div>
                                                            </div>


                                                            <!-- Info battery details -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Thông tin pin & Sạc
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Dung lượng pin</span>
                                                                    <span class="text-detail">
                                                                        {{ product.battery_capacity }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Loại pin</span>
                                                                    <span
                                                                        class="text-detail">{{ product.battery_type}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Công nghệ pin</span>
                                                                    <span
                                                                        class="text-detail">{{ product.battery_technology }}</span>
                                                                </div>
                                                            </div>

                                                            <!-- Utilities details -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Tiện ích
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Bảo mật nâng cao</span>
                                                                    <span class="text-detail">
                                                                        {{ product.advanced_security }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Tính năng đặc
                                                                        biệt</span>
                                                                    <span
                                                                        class="text-detail">{{ product.special_features}}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Ghi âm</span>
                                                                    <span
                                                                        class="text-detail">{{ product.record }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Radio</span>
                                                                    <span class="text-detail">{{ product.radio }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Xem phim</span>
                                                                    <span class="text-detail">{{ product.movie }}</span>
                                                                </div>
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Nghe nhạc</span>
                                                                    <span class="text-detail">{{ product.music }}</span>
                                                                </div>
                                                            </div>

                                                            <!-- Info more details -->

                                                            <div class="modal-header">
                                                                <h5 class="title title-detail" id="myModalLabel">
                                                                    Thông tin khác
                                                                </h5>
                                                            </div>
                                                            <div class="modal-body"
                                                                style="margin-left: 20px;margin-right: 20px;">
                                                                <div class="custom-title">
                                                                    <span class="content-detail">Thời điểm ra mắt</span>
                                                                    <span class="text-detail">
                                                                        {{ product.time_of_launch }}</span>
                                                                </div>
                                                            </div>



                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end modal -->
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>